@using PersonalWebSite.Models.Entity
@model List<TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>İletişim Sayfası</h2>
<br />
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
              
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">
                                @foreach (var item in Model)
                                {
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-danger">
                                                @(((DateTime)item.Date).ToString("dd-MM-yyyy"))
                                            </span>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-comments bg-warning"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class=""></i> @item.Mail</span>
                                                <h3 class="timeline-header"><a href="#">@item.NameSurname</a> @item.Topic</h3>
                                                <div class="timeline-body">
                                                    @item.Message
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="/Contact/DeleteContact/@item.Id" class="btn btn-warning btn-flat btn-sm">Sil</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
    </section>
</body>
</html>