@using PersonalWebSite.Models.Entity
@model List<TblAbout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Hakkımda Menüsü</h2>
<br />

<form method="post">
    @foreach (var item in Model)
    {
        <label>İsim</label>
        <textarea rows="1" class="form-control" name="Name">@item.Name</textarea>
        <br />
        <label>Soyisim</label>
        <textarea rows="1" class="form-control" name="Surname">@item.Surname</textarea>
        <br />
        <label>Mail</label>
        <textarea rows="1" class="form-control" name="Mail">@item.Mail</textarea>
        <br />
        <label>Telefon</label>
        <textarea rows="1" class="form-control" name="Telephone">@item.Telephone</textarea>
        <br />
        <label>Açıklama</label>
        <textarea rows="5" class="form-control" name="Explanation">@item.Explanation</textarea>
        <br />
        <label>Resim</label>
        <textarea rows="1" class="form-control" name="Image">@item.Image</textarea>


    }
    <br />
    <button class="btn btn-info">Güncelle</button>

</form>

