@model PersonalWebSite.Models.Entity.TblSkill
@{
    ViewBag.Title = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Edit Skill</h2>
<br />

<form method="post">

    @Html.Label("ID")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek")
    @Html.TextBoxFor(x => x.Skill, new { @class = "form-control" })
    <br />
    @Html.Label("Oran")
    @Html.TextBoxFor(x => x.Rate, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Düzenle</button>



</form>
